@charset "UTF-8";

body{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 32px;
    font-weight: bolder;
}

h3{
    font-size: 24px;
}

h4{
    font-size: 18px;
}

h5{
    font-size: 16px; 
    font-weight: bolder;
}

p{
    font-size: 16px;
    font-weight: lighter;
}

a{
    text-decoration: none;
}

.color{
    color: #0EAFAC;
    font-weight: bolder;
}

.nav-header{
    background: #F6F6F7;
    height: 80px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    padding: 0 100px;
}

.nav-options{
    display: inline-block;
    color: #1C1C1D;
}

.nav-options a{
    color: #1C1C1D;
}

.nav-options li{
    color: #1C1C1D;
    display: inline-block;
    padding: 20px;
}

.logo-black{
    width: 135px;
    height: 40px;
}

.button-default{
    box-sizing: border-box;
    padding-top: 10px;
    width: 213px;
    height: 42px;
    background: #10DFC2 0 0 no-repeat padding-box;
    border-radius: 15px;
    color: #FBFBFB;
    text-align:center;
}

.rocket{
    background-image: url(../images/Background.png);
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 100px 50px;                
}

.rocket-col-1{
    width: 419px;
    height: 304px;
    color: #FFFFFF;
}

.rocket-col-1 h1{  
    height: 153px;              
}

.rocket-col-1 h4{
    width: 288px;  
    height: 84px;  
    line-height: 1.5;  
    font-weight: lighter;         
}

.rocket-col-2{
    width: 332px;
    height: 303px;
    text-align:center;
}

.rocket-logo{
    width: 138px;
    height: 157px;
    padding-bottom: 69.66px;
}

.rocket-col-2{
    width: 332px;
    height: 76px;
}

.about{
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 51px 50px;  
}

.about-col-1{
    width: 468px;
    padding: 51px 20px;
}

.procedure{
    box-sizing: border-box;
    padding: 50px 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(262px));
    grid-template-areas: 
    "  .    work    work    . "
    "card-1 card-2 card-3 card-4";
    gap: 30px;
    background-color: #F6F6F6;
    
}

.how-it-work{
    grid-area: work;
    text-align: center;
}

.recruiting-card{
    grid-area: card-1;
}
.pre-rocket-card{
    grid-area: card-2;
}

.work-card{
    grid-area: card-3;
}

.rocket-card{
    grid-area: card-4;
}

.cards{
    width: 262px;
    height: 250px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #00000029;
    border-radius: 5px;
    opacity: 1;
    box-sizing: border-box;
    padding: 26.91px 20px 29px 24px;
    margin: auto;
}

.seeking{
    box-sizing: border-box;
    padding: 50px 50px 60px;
}

.requirements{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.details{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.col{
    width: 400px;
    padding: 49px 30px;
}

.news{
    background: #19DBD1 0% 0% no-repeat padding-box;
    box-sizing: border-box;
    padding: 50px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center
}

.news .col{
    width: 480px;
    color: #FFFFFF;
}

.subscribe{
    border: 0 transparent;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.email-type{
    color: #FFFFFF;
    margin-bottom: 10px;
}

#email{
    width: 300px;
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    border: none;
}

.button-sign{
    width: 100px;
    height: 35px;
    margin-top: 16px;
    color: white;
    background: #FFB900 0% 0% no-repeat padding-box;
    border-radius: 10px;
    border: none;
}

footer{
    padding: 50px 100px;
    color: #FFFFFF;
    background: #04254C 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.more{
    box-sizing: border-box;
    width: 428px;
}

.button-contact{
    box-sizing: border-box;
    width: 181px;
    height: 35px;
    padding: 8px 54px 8px 20px;
    color: #FFFFFF;
    background: #FFB900 url(../images/Caminho\ 221.svg) 0 0 no-repeat padding-box;
    background-position: right;
    background-position-x: 130px;
    border-radius: 10px;
}

.info{
    width: 131px;
}

.info ul{
    line-height: 2;
    padding-left:0;
    list-style-type: none;
}

address{
    width: 412px;
    height: 309px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content:baseline
}

.help{
    display: flex;
    flex-direction: column;
    justify-content: space-around;   
}

.help span{
    width: 50px; 
    height: 50px;       
    background-color: #FFFFFF;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 15px 17px;
    
}

.div{
    width: 322px;
    margin-left: 40px;
}


@media screen and (min-width: 1440px){
    .nav-header{
        background: #F6F6F7;
        height: 80px;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        align-items: center;
        padding: 0 200px;
    }

    .nav-options li{
        color: #1C1C1D;
        display: inline-block;
        padding: 80px;
    }

    .procedure{
        box-sizing: border-box;
        padding: 50px 200px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(262px));
        grid-template-areas: 
        "  .    work    work    . "
        "card-1 card-2 card-3 card-4";
        gap: 30px;
        background-color: #F6F6F6;

    }

    footer{
        padding: 50px 200px;
        color: #FFFFFF;
        background: #04254C 0% 0% no-repeat padding-box;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 1086px){
    .nav-options li{
        padding: 5px;
    }

    
    .button-default{
        width: 170px;
    }   

    .procedure{
        box-sizing: border-box;
        padding: 50px 50px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(262px));
        grid-template-areas: 
        "work    work "
        "card-1 card-2" 
        "card-3 card-4";
        gap: 29px;
        background-color: #F6F6F6;
    }

}


@media screen and (max-width: 640px){
    .nav-header{
        height: auto;
        padding: 0 25px;
    }

    .nav-options li{
        display: block;
        text-align: center;
        padding-right: 10px;
    }
    
    
    .button-default{
        width: 150px;
    }
    
    .rocket-col-2{
        display: none;
    }
    
    .about{
        flex-direction: column;
        align-items: center;
    }

    .procedure{
        box-sizing: border-box;
        grid-template-columns: repeat(auto-fit, minmax(262px));
        grid-template-areas: 
        "work"
        "card-1" 
        "card-2" 
        "card-3" 
        "card-4";
        gap: 50px;
        background-color: #F6F6F6;
    }
    
    .requirements{
        flex-direction: column;
        align-items: center;
    }
    
    .details{
        flex-direction: column;
        align-items: center;
    }
    
    .news{
        padding: 0 25px 20px;
        flex-direction: column;
        align-items:center
    }
    
    footer{
        padding: 25px 25px 50px 50px;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .more{
        box-sizing: border-box;
        width: 428px;
        height: 262px;
        padding-right: 20px;
    }
    
}